.aside {
  .aside__share-link {
    position: fixed;
    top: 310px;
    left: 80px;
    color: $white;
    font-weight: $font-medium;
    text-decoration: none;
    transform: rotate(-90deg);
    transform-origin: 0 0;

    &:before {
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      left: 65px;
      background-image: url("../assets/images/heart.svg");
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }

    &:after {
      content: "";
      position: absolute;
      top: 26px;
      left: 0;
      width: 0px;
      height: 1px;
      border-bottom: 2px solid $white;
      transition: width 0.4s, border-color 0.6s;
    }

    &:hover {
      &:before {
        animation: heartBit 2s infinite;
      }
      &:after {
        border-color: red;
        width: 57px;
      }
    }
  }
}

@keyframes heartBit {
  0% {
    transform: rotate(90deg) scale(0.8);
  }
  5% {
    transform: rotate(90deg) scale(0.9);
  }
  10% {
    transform: rotate(90deg) scale(0.8);
  }
  15% {
    transform: rotate(90deg) scale(1.2);
  }
  35% {
    transform: rotate(90deg) scale(0.8);
  }
  40% {
    transform: rotate(90deg) scale(0.9);
  }
  45% {
    transform: rotate(90deg) scale(0.8);
  }
  65% {
    transform: rotate(90deg) scale(1.2);
  }
  75% {
    transform: rotate(90deg) scale(0.8);
  }
  100% {
    transform: rotate(90deg) scale(0.8);
  }
}
