.light-mode {
  .buttons-wrapper {
    .button {
      color: $black;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid $black;

      &:hover,
      &:focus {
        border: 1px solid $red;
      }

      &:active {
        border: 1px solid $white;
      }
    }
  }
}

.buttons-wrapper {
  padding: 30px;
  text-align: center;

  .button {
    @include button;

    &:first-child {
      margin-right: 20px;
    }
  }
}

.button {
  @include button;
}

.light-mode {
  .button {
    color: $black;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $black;

    &:hover,
    &:focus {
      border: 1px solid $red;
    }

    &:active {
      border: 1px solid $white;
    }
  }
}

@media (max-width: $small) {
  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;

    .button {
      flex-wrap: wrap;
      width: 100%;
      margin: 20px 20px;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}
