.buttons-wrapper {
  padding: 30px;
  text-align: center;

  .button {
    @include button;

    &:first-child {
      margin-right: 20px;
    }
  }
}

@media (max-width: $small) {
  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;

    .button {
      flex-wrap: wrap;
      width: 100%;
      margin: 20px 20px;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}
