.buttons-wrapper {
  padding: 30px;
  text-align: center;
}

.button {
  cursor: pointer;
  width: 200px;
  padding: 10px 0;
  font-size: $font-size-s;
  color: $white;
  background-color: $btn-color;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0);
  transition: outline 0.2s;

  &:first-child {
    margin-right: 20px;
  }

  &:hover,
  &:focus {
    outline: 1px solid $white;
  }

  &:active {
    outline: 1px solid $red;
  }
}

@media (max-width: 700px) {
  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .button {
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 20px;

    &:first-child {
      margin-top: 10px;
    }
  }
}
