.greeting {
  padding: 50px 0;
  text-align: center;
  font-size: $font-size-xl;
  font-weight: $font-bold;
  line-height: 1em;

  span {
    color: $red;
  }
}

@media (max-width: $medium) {
}

@media (max-width: $small) {
  .greeting {
    font-size: $font-size-l;
  }
}
