.light-mode {
  .projects__description {
    .projects__more {
      .button {
        @include button;
        width: 270px;
        color: $black;
        background-color: rgba(0, 0, 0, 0);
        outline: 1px solid $black;

        &:hover,
        &:focus {
          outline: 1px solid $red;
        }

        &:active {
          outline: 1px solid $white;
        }
      }
    }
  }
}

.projects {
  @include section;

  &__description {
    .projects__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style-type: none;

      .projects__item {
        margin-right: 5px;
      }
    }

    .projects__more {
      margin-top: 30px;
      text-align: center;

      button {
        @include button;
        width: 270px;
      }
    }
  }
}

