// colors
$bg-light: #eee;
$bg-dark: #222;
$btn-color: #555;

$red: #c72f2f;
$red-opacity-low: rgba(203, 91, 91, 0.304);
$black: #222;
$white: #fff;

// font weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// font-size
$font-size-s: 24px;
$font-size-m: 36px;
$font-size-l: 100px;
$font-size-xl: 140px;
$font-size-xxxl: 600px;

//media query
$large: 1400px;
$medium: 900px;
$small: 700px;
$min-width: 420px;
