@import "utils/normalize";
@import "variables";
@import "background";
@import "grid";
@import "header";
@import "aside";
@import "main-greeting";
@import "buttons";

* {
  // outline: 1px solid red;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Rajdhani', sans-serif;
  font-size: $font-size-small;
  color: $text-color-white;
  background-color: $background-color-light;
}