@import "utils/normalize";
@import "utils/hide";
@import "variables";
@import "mixins";
@import "variables";
@import "background";
@import "header";
@import "aside";
@import "main-greeting";
@import "buttons";
@import "about";
@import "projects";
@import "footer";
@import "dots";

* {
  // outline: 1px solid red;
  padding: 0;
  margin: 0;
}

body {
  min-width: $min-width;
  max-width: $large;
  margin: 0 auto;
  padding: 0 40px;
  font-family: "Rajdhani", sans-serif;
  font-size: $font-size-s;
  color: $white;
  background-color: $bg-dark;
  transition: background-color 0.1s ease-in;

  &.light-mode {
    color: $black;
    background-color: $bg-light;
  }
}

.body-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 30px 2px $red-opacity-low;
}

main {
  padding: 0 50px;
}

@media (max-width: $small) {
  body {
    padding: 0;
  }
  main {
    padding: 0 10px;
  }
}
